.tag-item-container {
  width: 718rpx;
  height: 100rpx;
  border-radius: 12rpx;
  background-color: #FFFFFF;
  margin: 24rpx auto;
  padding: 0 32rpx;
  box-sizing: border-box;
}

.tag-content, .edit-content {
  height: 100%;
}

.handle-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.icon-move-up {
  width: 40rpx;
  height: 30rpx;
  padding-left: 32rpx;
  border-left: 1px solid #EBEEF4;
}

.action-btn {
  padding: 12rpx 25rpx;
  border-radius: 32rpx;
  color: #FFFFFF;
  max-height: 64rpx;
}

.input {
  flex: 1;
}