.add-event {
  position: fixed;
  width: 84rpx;
  height: 84rpx;
  right: 48rpx;

  box-shadow: 0 2px 2px 0 rgba(0,0,0,.12);
  border-radius: 50%;
  /* #ifndef H5 */
    bottom: 64rpx;
  /* #endif */

  /* #ifdef H5 */
    bottom: 120rpx;
  /* #endif */
}

.radius {
  border-top-left-radius: 32rpx;
  border-top-right-radius: 32rpx;
}

.event-container {
  padding-top: 16rpx;
  overflow: hidden;
  box-sizing: border-box;
  min-height: 200rpx;
}

.event-item {
  width: 718rpx;
  height: 150rpx;
  border-radius: 20rpx;
  margin: 0 auto;
  overflow: hidden;
  padding-left: 48rpx;
  box-sizing: border-box;
}

.event-item:not(:first-child) {
  margin-top: 16rpx;
}

.event-item:active {
  transform: scale(1.01);
  /* transition: transform ease-in-out 100ms; */
}

.content-container {
  width: 340rpx;
}

.event-name {
  margin-bottom: 12rpx;
}

.times {
  display: inline-block;
  /* min-width: 160rpx; */
  margin-right: 32rpx;
}

.icon-time {
  width: 28rpx;
  height: 28rpx;
  margin-right: 7rpx;
}

.time-container {
  justify-content: flex-start;
}

.finger-container {
  width: 150rpx;
  height: 150rpx;
  background: rgba(194, 228, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.finger-container:active {
  background: rgba(194, 228, 255, 0.6);
}

.finger-img {
  width: 48rpx;
  height: 84rpx;
}

.blank {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blank-img {
  width: 234rpx;
  height: 200rpx;
}
