/* =============================  文字  ============================== */
.text-black {
  color: #333333;
}

.text-grey {
  color: #818181;
}

.text-red {
  color: #FF807D;
}

.text-white {
  color: #FFFFFF;
}

.text-xs {
  font-size: 24rpx;
}

.text-sm {
  font-size: 28rpx;
}

.text {
  font-size: 34rpx;
}

.text-large {
  font-size: 40rpx;
}

.text-bold {
  font-weight: 700;
}

/* =============================  布局  ============================== */
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* =============================  边距  ============================== */
.margin-right {
  margin-right: 32rpx;
}
.margin-left {
  margin-left: 32rpx;
}
.margin-top {
  margin-top: 32rpx;
}
.margin-bottom {
  margin-bottom: 32rpx;
}
.margin-right-sm {
  margin-right: 8rpx;
}

.margin-bottom-sm {
  margin-bottom: 16rpx;
}

/* =============================  背景  ============================== */

.bg-theme {
  background-color: #A5CAF1;
}

.bg-white {
  background-color: #FFFFFF;
}

.bg-red {
  background-color: #FF807D;
}

.bg-grey {
  background-color: #F5F5F5;
}