.list-content {
  background-color: #FFFFFF;
  border-top-left-radius: 32rpx;
  border-top-right-radius: 32rpx;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding-bottom: 100rpx;
}

.list-title-container {
  margin: 52rpx 48rpx 12rpx;
}

.list-title {
  font-size: 36rpx;
  font-weight: 500;
  color: #333333;
}

.base-container, .year {
  padding: 0 32rpx;
  box-sizing: border-box;
}

.title-icon {
  width: 42rpx;
  height: 32rpx;
}

.base-icon {
  width: 32rpx;
  height: 32rpx;
  margin-right: 24rpx;
}

.base-input {
  width: 422rpx;
  border-radius: 16rpx;
  overflow: hidden;
  height: 100rpx;
  line-height: 100rpx;
  background: #F5F6FA;
  padding-left: 32rpx;
}

.chart-container {
  width: 750rpx;
  height: 380rpx;
  padding: 0 32rpx;
  box-sizing: border-box;
}

.history-list, .tags-container {
  width: 750rpx;
  margin: 0 auto 32rpx;
  align-items: flex-start;
  padding: 0 32rpx;
  box-sizing: border-box;
}

.tags-container {
  justify-content: flex-start;
  margin: 0 auto;
}

.tag-blank {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blank-img {
  width: 430rpx;
  height: 288rpx;
}

.tags {
  border: 1px solid #4F9BFA;
  background-color: #D3E6FE;
  color: #4F9BFA;
  height: 60rpx;
  line-height: 60rpx;
  padding: 0 30rpx;
  border-radius: 10rpx;
}

.right {
  width: 550rpx;
  padding-top: 12rpx;
}

.img-container {
  display: flex;
  flex-flow: row wrap;
}

.history-img {
  width: 150rpx;
  height: 150rpx;
  border-radius: 8rpx;
  margin-right: 13rpx;
  margin-bottom: 13rpx;
  position: relative;
  overflow: hidden;
  display: flex;
}

.history-img::before {
  position: absolute;
  content: '';
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.05) 100%);
  pointer-events: none;
}

.history-img:nth-child(3n){
  margin-right: 0;
}

.local-icon {
  width: 28rpx;
  height: 28rpx;
  margin-right: 16rpx;
}

.local-name {
  display: inline-block;
  width: 500rpx;
}

.calendar-select {
  display: flex;
}

.calendar-select img {
  width: 32rpx;
  height: 32rpx;
}

.calendar-select__text {
  height: 64rpx;
  box-sizing: border-box;
  padding: 0 48rpx;
}

.calendar-select__week {
  width: 132rpx;
  height: 48rpx;
  background: #A5CAF1;
  border-radius: 24rpx;
  color: #ffffff;
  box-sizing: border-box;
  text-align: center;
  font-size: 28rpx;
  line-height: 48rpx;
}